{{ header }}



<section id="items-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Formulário de Pesquisa</h1>
            </div>
        </div>
    </div>
</section>

<section id="items-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        <li>
                             <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        </li>
                    {% endfor %}
                 </ul>
              </div>
        </div>
    </div>
</section>

<section id="items">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="#"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            
        </div>
    </div>




       

</section>



{{ footer }}
