{{ header }}

<section id="distribuicao-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="distribuicao-content company">
                    <div class="col-sm-4 bloco distribuicao-title-background no-float">
                        <div class="distribuicao-title">
                            <h2 class="font-yellow">COMPONENTES PARA PULVERIZADORES</h2>
                        </div>
                    </div>
                    <div class="col-sm-8 bloco no-float">
                        <div class="distribuicao-description font-green">
                            <p>A construção de um pulverizador depende de muita tecnologia específica, criada por especialistas em varias áreas (mecânica, elétrica, eletrônica, materiais, ...). </p>
                            <p>Esse componentes criados devem ser montados de forma equilibrada e ordenada para os benefícios e atributos esperado do equipamento final.</p>
                            <p>A Herbicat tem uma história de mais de 30 anos nesse trabalho e desenvolveu parceiros que atualmente somos distribuidores exclusivos no Brasil.</p>
                            <p>Fruto de um trabalho sério de ajuste ao uso tropical, suporte aos usuários, agregação de valores ao componente no nosso uso.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ footer }}
