{{ header }}
<section id="assistencia-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="assistencia-content company">
                    <div class="col-sm-4 bloco assistencia-title-background no-float">
                        <div class="assistencia-title">
                            <h2 class="font-yellow">CONSULTORIA</h2>
                        </div>
                    </div>
                    <div class="col-sm-8 assistencia-title bloco no-float">
                        <div class="assistencia-description font-green">
                            <p>Usando os conhecimentos técnicos e a experiência acumulada em mais de 30 anos foi criado um plano de consultorias básicas e avançadas para atendimento de clientes nas áreas de cana, citros, café, frutas (uva, manga, ....)</p>

                            <div style="margin:2.5rem 0">
                                <ul>
                                    <li>Avaliação dos processos dentro da cadeia de aplicação de agroquímicos</li>
                                    <li>Avaliação dos  equipamentos</li>
                                </ul>
                            </div>

                            <p>Contato: (17) 3524 9799 - contato@herbicat.com.br</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ footer }}

