{{ header }}

<section class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-12">
                <div class="title-wrapper">
                    <h1 class="contact-title">Deixe sua mensagem, crítica ou sugestão.</h1>
                </div>
                <div class="form-wrapper">
                    <form id="contactForm" method="post" action="?route=custompages/sender">
                        <div class="form-group">
                            <label for="name">Nome: </label>
                            <input type="text" name="name" class="form-control" id="name" required>
                        </div>
                        <div class="form-group">
                            <label for="business">Empresa: </label>
                            <input type="text" name="business" class="form-control" id="business" required>
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail: </label>
                            <input type="email" name="email" class="form-control" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="tel">Telefone para contato: </label>
                            <input type="tel" name="tel" class="form-control" id="tel" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Sua mensagem: </label>
                            <textarea type="text" name="message" class="form-control" id="message" rows="5" required></textarea>
                        </div>
                        <div class="form-group pull-right">
                            <button type="reset" class="btn btn-primary">Limpar</button>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>

                    <div class="msgInfo">
                        <p class="msgSuccess hidden">Sua mensagem foi enviada com sucesso!</p>
                        <p class="msgError hidden">Error ao enviar sua mensagem. Tente novamente mais tarde.</p>
                    </div>

                </div>
                

            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="sidebar-contact-item">
                    <div class="title-wrapper">
                        <h3 class="contact-title">Trabalhe conosco</h3>
                    </div>
                    <div class="sidebar-content">
                        <p>Envie seu currículo para <br>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="maito:contato@herbicat.com.br"> contato@herbicat.com.br</a></p>
                    </div>
                </div>

                <div class="sidebar-contact-item">
                    <div class="title-wrapper">
                        <h3 class="contact-title">Informações de contato</h3>
                    </div>
                    <div class="sidebar-content">
                        <p><strong>Herbicat</strong> <br>
                        Av. Said Tuma, 220 <br> 
                        Distrito Industrial José Antônio Boso <br> 
                        Catanduva - SP <br>
                        15803-150</p>
                    </div>
                </div>

                <div class="sidebar-contact-item">
                    <div class="sidebar-content">
                        <p><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+551735249797"> (17) 3524-9797</a></p>
                        <p><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="maito:contato@herbicat.com.br"> contato@herbicat.com.br</a></p></p>
                    </div>
                </div>

                <div class="sidebar-contact-item">
                    <div class="sidebar-content">
                        <p>Segunda à Sexta-feira, <br>
                        das 07h30 às 17h48</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="map">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.7160476036447!2d-48.99069268459535!3d-21.12388388594682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bc1eebf0000001%3A0xbd67a632c91621ce!2sHerbicat!5e0!3m2!1spt-BR!2sbr!4v1566934171822!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>   
            </div>
        </div>
    </div>
</section>


<script>
    $('form').on('submit',function(e){
        e.preventDefault();
        $.ajax({
            type     : "POST",
            cache    : false,
            url      : $(this).attr('action'),
            data     : $(this).serialize(),
            success  : function(data) {
                Swal.fire({
                    type: 'success',
                    title: 'Sua mensagem foi recebida',
                    text: 'Aguarde nosso contato por e-mail ou telefone',
                })
            },
            error  : function(data) {
               Swal.fire({
                    type: 'error',
                    title: 'Erro ao enviar sua mensagem',
                    text: 'Por favor, tente novamente mais tarde',
                })
            }
        });

    });
</script>











{{ footer }}