{{ header }}


<section id="items-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                    <li>
                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="content">
    {# <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-title-wrapper">
                    <h1 class="content-title">A Herbicat</h1>
                </div>
                <div class="meta-info">
                    <ul class="list-inline">
                        <li><p><i class="fa fa-calendar i-resp" aria-hidden="true"></i><span>Publicado em: </span>{{ post.date_published|date("d/m/Y") }}</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> #}

    <div class="container institucional-text">
        <div class="row">
            <div class="col-md-6">
                <div class="content">
                    <h1>HERBICAT</h1>
                    <p>A Herbicat foi criada em 1988 a partir dos conhecimentos do Engenheiro Agrônomo Luís César Pio,
                        que desde o início de sua carreira já trabalhava com tecnologia de aplicação de agroquímicos.
                    </p>
                    <p>Até 1990, a Herbicat comercializou apenas pontas de pulverização e a partir desse momento iniciou
                        o trabalho com acessórios de pulverização.</p>
                    <p>Foi entre 1993 e 1996 que tiveram início os primeiros projetos de pulverizadores e, a partir daí,
                        surgiu a indústria de desenvolvimento e fabricação de pulverizadores.</p>
                    <p>No decorrer dos anos, a empresa desenvolveu tecnologia apoiada nas parcerias e intercâmbio com
                        Universidades (UNESP - Jaboticabal e Ilha Solteira, USP - Piracicaba, UFV – Viçosa, Fafram -
                        Ituverava, UNIP – São José do Rio Preto, Imes Fafica – Catanduva, Fipa – Catanduva, UFSCAR – São
                        Carlos), Centros de estudo e pesquisa (IAC- Jundiaí, Instituto Biológico – São Paulo</p>
                    <p>Centro Paula Souza - Catanduva) e Fabricantes de peças e acessórios tecnológicos para
                        pulverização como a TeeJet Technologies, Comet, GeoLine, Ace Pumps, CDS John Blue, entre outras
                        empresas parceiras que são atualmente fornecedores.</p>
                    <p>Mantendo o princípio de divulgação de conhecimento, o fundador, Engenheiro Agrônomo Luis César
                        Pio é tutor do curso de pós-graduação Lato Senso da ABEAS / UFV e, juntamente com o departamento
                        técnico da Herbicat, realiza diversos cursos e treinamento a multinacionais, grandes e pequenos
                        produtores, técnicos, operadores e alunos sobre tecnologia de aplicação de agroquímicos.</p>
                    <p>Nosso conhecimento, constantemente obtido e difundido, fez a Herbicat ser referência em
                        pulverização e a empresa mais indicada para especificar e fornecer produtos voltados à
                        tecnologia de aplicação que melhor se adequam às necessidades do produtor.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-wrapper">
                    <div class="main-img-single-wrapper">
                        <img src="/image/cache/catalog/institucional.jpg" alt="">
                    </div>
                    <div class="bottom-img-single-wrapper">
                        <img src="/image/cache/catalog/bottom-institucional.jpg" alt="">
                    </div>
                    <div class="middle-img-single-wrapper">
                        <img src="/image/cache/catalog/middle-institucional.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blockquote-wrapper">
        <div class="blockquote">
            <h1>
            A Herbicat tem orgulho do valor da história que construiu junto com seus colaboradores, fornecedores e clientes.
            </h1>
            <h4 style="color:#666666; text-transform: uppercase;">&mdash;Luís César Pio<br><em>Engenheiro Agrônomo e fundador da Herbicat</em></h4>
        </div>
    </div>










    {# <div class="container blockquote-container">
        <div class="row">
            <div class="col-md-12">
                <blockquote class="blockquote">
                    <p><i>"A Herbicat tem orgulho do valor da história que construiu junto com seus colaboradores,
                            fornecedores e clientes."</i></p>
                    <footer class="blockquote-footer">Luís César Pio - Engenheiro Agrônomo e fundador da Herbicat
                    </footer>
                </blockquote>
            </div>
        </div>
    </div> #}

    <div class="container">
        <div class="history-herbicat">
            <div class="d-flex justify-content-around">
                <ul class="nav nav-tabs pull-center history-herbicat">
                    <li class="active"><a data-toggle="tab" href="#home">1988</a></li>
                    <li><a data-toggle="tab" href="#menu1">1990</a></li>
                    <li><a data-toggle="tab" href="#menu2">1993</a></li>
                    <li><a data-toggle="tab" href="#menu3">2019</a></li>
                </ul>
            </div>

            <div class="tab-content history-herbicat">
                <div id="home" class="tab-pane history-herbicat fade in active animated fadeIn">
                        <h3 class="news-title">1988</h3>
                        <p>Fundação da Herbicat pelo Engenheiro Agrônomo Luís César Pio</p>
                    </div>
                    <div id="menu1" class="tab-pane fade animated fadeIn">
                        <h3 class="news-title">1990</h3>
                        <p>Início do trabalho com acessórios de pulverização</p>
                    </div>
                    <div id="menu2" class="tab-pane fade animated fadeIn">
                        <h3 class="news-title">1993</h3>
                        <p>Primeiros projetos de pulverizadores / Surgimento da indústria de desenvolvimento e fabricação de pulverizadores</p>
                    </div>
                    <div id="menu3" class="tab-pane fade animated fadeIn">
                        <h3 class="news-title">2019</h3>
                        <p>Reposicionamento da marca no mercado, incluindo redesign da marca</p>
                    </div>
                </div>
            </div>
        </div>

    

        <div class="container values">
            <div class="row">
                <div class="col-md-6 left-itens">
                    <div class="row">
                        <div class="col-md-12 left-item-single">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="our-values-img-wrapper">
                                        <img class="our-values" src="image/cache/catalog/missao_herb.png" alt="">
                                    </div>
                                    <div class="our-values-title-wrapper">
                                        <h3>Missão</h3>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="our-values-text-wrapper">
                                        <p>
                                            Servir os clientes com as melhores tecnologias em aplicação de insumos, por meio de
                                            conhecimentos, produtos e serviços que proporcionem produtividade, qualidade, segurança e
                                            preservação ambiental.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 left-item-single">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="our-values-img-wrapper">
                                        <img class="our-values" src="image/cache/catalog/visao_herb.png" alt="">
                                    </div>
                                    <div class="our-values-title-wrapper">
                                        <h3>Visão</h3>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="our-values-text-wrapper">
                                        <p>
                                            Estar entre os melhores do Brasil no fornecimento de tecnologias para a aplicação de insumos
                                            destinados ao mercado agrícola, com iniciativas em outros mercados selecionados, garantindo
                                            patamares de lucratividade que permitam o desenvolvimento da empresa, da equipe e dos demais
                                            agentes econômicos envolvidos.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="our-values-img-wrapper">
                        <img class="our-values" src="image/cache/catalog/valores_herb.png" alt="">
                    </div>
                    <div class="our-values-title-wrapper">
                        <h3>Valores</h3>
                    </div>
                    <div class="our-values-text-wrapper">
                        <ul>
                            <li>Foco em resultados para todos os envolvidos;</li>
                            <li>Crescimento sustentável;</li>
                            <li>Inovação e criatividade;</li>
                            <li>Comprometimento e trabalho em equipe;</li>
                            <li>Melhoria contínua da qualidade de todos os processos;</li>
                            <li>Clareza e transparência nas comunicações interna e externa;</li>
                            <li>Ética e respeito nas relações humanas;</li>
                            <li>Responsabilidade social e com o meio ambiente.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {# <div class="container our-values">
        <div class="row">
            <div class="col-md-4 col-sm-12 our-values-content">
                <div class="our-values-img-wrapper">
                    <img class="our-values" src="image/cache/catalog/missao_herb.png" alt="">
                </div>
                <div class="our-values-title-wrapper">
                    <h3>Missão</h3>
                </div>
                <div class="our-values-text-wrapper">
                    <p>
                        Servir os clientes com as melhores tecnologias em aplicação de insumos, por meio de
                        conhecimentos, produtos e serviços que proporcionem produtividade, qualidade, segurança e
                        preservação ambiental.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 our-values-content">
                <div class="our-values-img-wrapper">
                    <img class="our-values" src="image/cache/catalog/visao_herb.png" alt="">
                </div>
                <div class="our-values-title-wrapper">
                    <h3>Visão</h3>
                </div>
                <div class="our-values-text-wrapper">
                    <p>
                        Estar entre os melhores do Brasil no fornecimento de tecnologias para a aplicação de insumos
                        destinados ao mercado agrícola, com iniciativas em outros mercados selecionados, garantindo
                        patamares de lucratividade que permitam o desenvolvimento da empresa, da equipe e dos demais
                        agentes econômicos envolvidos.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-12 our-values-content">
                <div class="our-values-img-wrapper">
                    <img class="our-values" src="image/cache/catalog/valores_herb.png" alt="">
                </div>
                <div class="our-values-title-wrapper">
                    <h3>Valores</h3>
                </div>
                <div class="our-values-text-wrapper">
                    <ul>
                        <li>Foco em resultados para todos os envolvidos;</li>
                        <li>Crescimento sustentável;</li>
                        <li>Inovação e criatividade;</li>
                        <li>Comprometimento e trabalho em equipe;</li>
                        <li>Melhoria contínua da qualidade de todos os processos;</li>
                        <li>Clareza e transparência nas comunicações interna e externa;</li>
                        <li>Ética e respeito nas relações humanas;</li>
                        <li>Responsabilidade social e com o meio ambiente.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  #}


    {# <div class="container values">
        <div class="row">
            <div class="col-md-7">
                <div class="col-md-12 col-sm-12 inner-col">
                    <h3 class="content-subtitle">Missão</h3>
                    <p>Servir os clientes com as melhores tecnologias em aplicação de insumos, por meio de
                        conhecimentos, produtos e serviços que proporcionem produtividade, qualidade, segurança e
                        preservação ambiental.</p>
                </div>
                <div class="col-md-12 col-sm-12 inner-col">
                    <h3 class="content-subtitle">Visão</h3>
                    <p>Estar entre os melhores do Brasil no fornecimento de tecnologias para a aplicação de insumos
                        destinados ao mercado agrícola, com iniciativas em outros mercados selecionados, garantindo
                        patamares de lucratividade que permitam o desenvolvimento da empresa, da equipe e dos demais
                        agentes econômicos envolvidos.</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <h3 class="content-subtitle">Valores</h3>
                <ul class="list-unstyled">
                    <li>Foco em resultados para todos os envolvidos;</li>
                    <li>Crescimento sustentável;</li>
                    <li>Inovação e criatividade;</li>
                    <li>Comprometimento e trabalho em equipe;</li>
                    <li>Melhoria contínua da qualidade de todos os processos;</li>
                    <li>Clareza e transparência nas comunicações interna e externa;</li>
                    <li>Ética e respeito nas relações humanas;</li>
                    <li>Responsabilidade social e com o meio ambiente.</li>
                </ul>
            </div>
        </div>
    </div> #}






</section>









{{ footer }}