{{ header }}
<section id="assistencia-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="assistencia-content company">
                    <div class="col-sm-4 bloco assistencia-title-background no-float">
                        <div class="assistencia-title">
                            <h2 class="font-yellow">PULVERIZADORES</h2>
                        </div>
                    </div>
                    <div class="col-sm-8 assistencia-title bloco no-float">
                        <div class="assistencia-description font-green">
                            <p>A Herbicat desenvolve seus pulverizadores usando todo conhecimento disponível na área de conhecimento acadêmico e de pesquisa em consonância com universidades e centros de pesquisa da área no Brasil e alguns internacionais.</p>
                            <p>Outro grande ponto de apoio é os componentes tecnológicos disponíveis nos melhores fabricantes de componentes e tecnologia para o setor</p>
                            <p>Veja nossos parceiros na área dos componentes de pulverização</p>
                            <p>Também mantemos um depto de desenvolvimento e validação tecnológica que permite estudos detalhados que ajudam a garantir a melhor chegada do produtos aplicado no alvo correto </p>
                            <p>Nossos clientes garantem um banco de informações sobre suas necessidades e pela flexibilidade de uma empresa menor, mais ágil pode atender essa demanda.</p>


                            <div style="margin:2.5rem 0">
                                <ul>
                                    <li>Cana</li>
                                    <li style="list-style-type:none;">
                                        <ul style="list-style-type:square;">
                                            <li>Herbifor</li>
                                            <li>Herbiplus G2S</li>
                                        </ul>
                                    </li>
                                    <li>Citros, café e arbustivas</li>
                                    <li style="list-style-type:none;">
                                        <ul style="list-style-type:square;">
                                            <li>TopSpray</li>
                                            <li>Barra Sub-Copa (citros)</li>
                                        </ul>
                                    </li>
                                    <li>Pastagem</li>
                                    <li>Outros</li>
                                    <li style="list-style-type:none;">
                                        <ul style="list-style-type:square;">
                                            <li>Pulverizador Multiuso</li>
                                            <li>Motofog</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <p>Contato: (17) 3524 9799 - vendas@herbicat.com.br</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ footer }}
