<h1>contato site <a href="http://herbicat.com.br">herbicat</a></h1>
<ul>
   
    {% for item in info %}
        <li>NOME: {{ item.name }}</li>
        <li>EMPRESA: {{ item.business }}</li>
        <li>E-MAIL: {{ item.email }}</li>
        <li>TELEFONE: {{ item.tel }}</li>
        <li>MENSAGEM: {{ item.message }}</li>
    {% endfor %}

</ul>