{{ header }}
<section id="assistencia-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="assistencia-content company">
                    <div class="col-sm-4 bloco assistencia-title-background no-float">
                        <div class="assistencia-title">
                            <h2 class="font-yellow">SERVIÇOS</h2>
                        </div>
                    </div>
                    <div class="col-sm-8 assistencia-title bloco no-float">
                        <div class="assistencia-description font-green">


                            <div id="faq" role="tablist" aria-multiselectable="true">

                                <div class="panel panel-default">
                                    <a data-toggle="collapse" data-parent="#faq" href="#answerOne" aria-expanded="false" aria-controls="answerOne">
                                        <div class="panel-heading" role="tab" id="questionOne">
                                            <h5 class="panel-title pull-left d-contents">
                                                Assistência Técnica
                                                <span class="pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                                            </h5>
                                        </div>
                                    </a>
                                    <div id="answerOne" class="panel-collapse collapse in" role="tabpanel"
                                        aria-labelledby="questionOne">
                                        <div class="panel-body">

                                            <p>A Herbicat possui assistência técnica especializada em instalação e manutenção de sistemas para pulverização, como pulverizadores, sistemas elétricos e controladores.</p>
                                            <p>Os técnicos da Herbicat são altamente treinados, possuem experiência, responsabilidade na prestação de serviços e de informações aos clientes, buscando suprir totalmente a necessidade dos clientes atendidos.</p>
                                            <p>
                                                <i style="margin-right:.5em" class="fa fa-phone mr-5" aria-hidden="true"></i><a href="tel:1735249799">(17) 3524 9799</a>
                                                 <span style="margin:.5em">-</span> 
                                                <i style="margin-right:.5em" class="fa fa-envelope mr-5" aria-hidden="true"></i><a href="mailto:posvenda@herbicat.com.br">posvenda@herbicat.com.br</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerTwo" aria-expanded="false" aria-controls="answerTwo">
                                        <div class="panel-heading" role="tab" id="questionTwo">
                                                <h5 class="panel-title pull-left d-contents">
                                                    Pós-venda programada
                                                    <span class="pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                                                </h5>
                                            </div>
                                        </a>

                                    <div id="answerTwo" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="questionTwo">
                                        <div class="panel-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quam nibh, maximus et ipsum eu, volutpat dapibus nisi. Cras pulvinar nibh velit, non vestibulum ligula egestas et. Sed interdum libero vel erat finibus, at accumsan massa convallis. Phasellus velit nunc, varius at facilisis sed, rhoncus sit amet sapien. Duis vel risus auctor, fermentum erat eget, sodales arcu. Donec tortor est, mattis et tristique vel, fermentum nec diam. Mauris scelerisque diam sed neque tempus elementum. In hac habitasse platea dictumst. Curabitur tellus turpis, vulputate nec accumsan sit amet, sodales ac urna. Nam nec porttitor lectus. In a massa ultricies, viverra mi et, molestie massa.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerThree" aria-expanded="false" aria-controls="answerThree">
                                        <div class="panel-heading" role="tab" id="questionThree">
                                            <h5 class="panel-title">
                                                Palestras
                                                <span class="pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                                            </h5>
                                        </div>
                                    </a>
                                    <div id="answerThree" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="questionThree">
                                        <div class="panel-body">
                                            <p>Temos corpo técnico capacitado a ministrar palestras em diversos temas relacionados à tecnologia de aplicação.</p>
                                            <p>As palestras podem ser realizadas em empresas, multinacionais, congressos, feiras, simpósios, entre outros.</p>
                                            <p>A Herbicat tem o objetivo de oferecer soluções rápidas e eficientes, que permitam ao cliente otimizar seu processo de pulverização, obtendo assim, melhores resultados que gerem satisfação e economia.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerFour" aria-expanded="false" aria-controls="answerFour">
                                        <div class="panel-heading" role="tab" id="questionFour">
                                            <h5 class="panel-title">
                                                Treinamentos
                                                <span class="pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                                            </h5>
                                        </div>
                                    </a>
                                    <div id="answerFour" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="answerFour">
                                        <div class="panel-body">
                                            <p>A Herbicat acredita que a evolução do conhecimento humano é o primeiro segredo para a evolução geral de todo negócio.</p>
                                            <p>Nesse caminho desenvolvemos sistemas de treinamento e capacitação para diversos níveis profissionais desde operadores até gestores na área de tecnologia de aplicação.</p>
                                            <ul>
                                                <li>Manutenção em pulverizadores da Herbicat</li>
                                                <li>Tecnologia de aplicação para supervisores</li>
                                                <li>Gestão tecnológica para aplicação de agroquímicos </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerFifth" aria-expanded="false" aria-controls="questionFifth">
                                        <div class="panel-heading" role="tab" id="questionFifth">
                                            <h5 class="panel-title">
                                                Consultoria
                                                <span class="pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                                            </h5>
                                        </div>
                                     </a>
                                    <div id="answerFifth" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="answerFifth">
                                        <div class="panel-body">
                                            <p>Usando os conhecimentos técnicos e a experiência acumulada em mais de 30 anos foi criado um plano de consultorias básicas e avançadas para atendimento de clientes nas áreas de cana, citros, café, frutas (uva, manga etc).</p>
                                            <ul>
                                                <li>Avaliação dos processos dentro da cadeia de aplicação de agroquímicos</li>
                                                <li>Avaliação dos equipamentos</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerSixth" aria-expanded="false" aria-controls="questionSixth">
                                        <div class="panel-heading" role="tab" id="questionSixth">
                                            <h5 class="panel-title">
                                                Avaliação de equipamentos
                                                <span class="pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                                            </h5>
                                        </div>
                                    </a>
                                    <div id="answerSixth" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="answerSixth">
                                        <div class="panel-body">
                                            <p>Usando a Norma ISO 17122 sobre avaliação de pulverizadores em uso foram montado dois projetos de avaliação.</p>
                                            <ul>
                                                <li>PAPPA(p)</li>
                                                <li>Otimize</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerSeventh" aria-expanded="false" aria-controls="questionSeventh">
                                        <div class="panel-heading" role="tab" id="questionSeventh">
                                            <h5 class="panel-title">
                                                Regulagem e Calibração
                                                <span class="pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                                            </h5>
                                        </div>
                                    </a>
                                    <div id="answerSeventh" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="answerSeventh">
                                        <div class="panel-body">
                                            <p>Usando uma equipe de jovens profissionais, capacitados na área, passamos a atender produtores rurais de diversos tamanhos garantindo a melhor regulagem do equipamento.</p>
                                            <p>Selecionar a velocidade adequada e o volume de aplicação, escolher a gota correta para cada condição de campo é uma tarefa profissional de alta importância.</p>
                                            <p>O cliente pode contratar nossos serviços:</p>
                                            <ul>
                                                <li>Regulagem de equipamentos para: </li>
                                                <ul>
                                                    <li>Cana-de-açúcar</li>
                                                    <li>Citrus</li>
                                                </ul>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerEighth" aria-expanded="false" aria-controls="questionEighth">
                                        <div class="panel-heading" role="tab" id="questionEighth">
                                            <h5 class="panel-title">
                                                Reparos e Upgrade de pulverizadores
                                                <span class="pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                                            </h5>
                                        </div>
                                    </a>
                                    <div id="answerEighth" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="answerEighth">
                                        <div class="panel-body">
                                            <p>Reformar um pulverizador não é apenas soldar e trocar algumas peças.</p>
                                            <p>É preciso atender os pontos críticos que garantem a melhor aplicação dos agroquímicos.</p>
                                            <p>Diante das condições do produtor, algumas vezes é possível fazer um upgrade nos pulverizadores em uso, introduzindo novos componentes nos equipamentos em uso.</p>
                                            <ul>
                                                <li>Reformas: </li>
                                                <ul>
                                                    <li>Reparos de barras e articulações</li>
                                                    <li>Troca de pontas e conectores</li>
                                                </ul>
                                                <li>UpGrades: </li>
                                                <ul>
                                                    <li>Inclusão de novo circuito de bicos</li>
                                                    <li>Melhorias no sistema de filtragem</li>
                                                    <li>Comandos elétricos e eletrônicos</li>
                                                </ul>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ footer }}