{{ header }}

<section id="items-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        <li>
                             <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        </li>
                    {% endfor %}
                 </ul>
              </div>
        </div>
    </div>
</section>

<section class="news-post">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <img src="{{ post.image }}" alt="banner-news">
        
                <div class="post-meta">
                    <h1 class="news-title"><i>{{ post.title }}</i></h1>

                    {% if post.category_id != 15 %}

                    <div class="meta-info">
                        <ul class="list-inline">
                            <li><p><i class="fa fa-calendar i-resp" aria-hidden="true"></i><span>Publicado em: </span>{{ post.date_published|date("d/m/Y") }}</p></li>
                            <li><p><i class="fa fa-tag i-resp" aria-hidden="true"></i><span>Tags: </span>{{ post.tag }}</p></li>
                        </ul>
                    </div>
                    
                    {% endif %}

                    <div class="subtitle-news">
                        <h3>{{ post.short_description }}</h3>
                    </div>
                </div>
           
                <article class="news-description">
                    {{ post.description|convert_encoding('UTF-8', 'HTML-ENTITIES') }}
                </article>                

                {% if post.category_id == 9 or post.category_id == 11 or post.category_id == 15 %}
                    
                    <div class="download-link">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-6 text-center">
                                <h3>Faça o download {{ (post.category_id == 9) ? 'da apresentação' : (post.category_id == 15) ? 'do catálogo' : 'do artigo' }}</h3>
                               <a href="{{ app.request.getBaseURL() }}/image/catalog/blog/{{ (post.category_id == 9) ? 'palestras' : (post.category_id == 15) ? 'catalogos' : 'artigos'}}/{{ post.meta_title }}.pdf" download>
                                    <button class="btn btn-default"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download</button>
                                </a>
                            </div>
                        </div>
                    </div>

                {% endif %}
                
                 <ul class="list-inline">
                    <li><div class="share-title"><h3><i class="fa fa-share i-resp" aria-hidden="true"></i>  Compartilhe: </h3></div></li>
                    <li>
                        <div class="share-links">
                            <ul class="list-inline">
                                <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ atual_url }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="fa fa-facebook-official i-resp" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;"><i class="fa fa-twitter i-resp" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;"><i class="fa fa-linkedin-square i-resp" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;"><i class="fa fa-whatsapp i-resp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <div class="col-md-12 relacted-products">
                    <div class="relacted-wrapper">
                        <h3>Produtos Relacionados</h3>
                    </div>
                    <div class="row">

                    {% for item in best_products %}
                        <div class="col-md-4 col-xs-12 best-products">
                            <div class="best_product_wrapper">
                                <a href="?route=product/product&product_id={{ item.product_id }}"><img src="{{ item.image }}" alt=""></a>
                                <ul class="list-unstyled">
                                    <li class="product-name"><a href="?route=product/product&product_id={{ item.product_id }}">{{ item.name }}</li>
                                    <li class="only-for">Por apenas</li>
                                    <li class="price"><a href="?route=product/product&product_id={{ item.product_id }}"><sup>R$</sup>{{ item.price|round(2, 'ceil')|number_format(2, ',', '.') }}</a></li>
                                </ul>
                            </div>
                            <hr></hr>
                            <a class="actionButton" href="?route=product/product&product_id={{ item.product_id }}"><i class="fa fa-plus" aria-hidden="true"></i> Ver detalhes</a>
                        </div>
                    {% endfor %}

                    </div>
                </div>

            </div>
            

            <div class="col-md-4 col-xs-12">
                <div class="sidebar-block">
                    <h3 class="news-title-sidebar "><i>Últimas Publicações</i></h3>
                    <ul class="list-unstyled">
                       
                       {% for post in latest_posts %}
                           
                            <li class="latest-news-item">
                                <div class="row">
                                    <div class="col-md-5 col-sm-6 col-xs-6"><a href="?route=custompages/singlepost&id={{ post.post_id }}"><img src="{{ post.image }}" alt=""></a></div>
                                    <div class="col-md-7 col-sm-6 col-xs-6">
                                        <ul class="list-unstyled">
                                            <li><a href="?route=custompages/singlepost&id={{ post.post_id }}">{{ post.title }}</a></li>
                                            <li>{{ post.short_description|length > 40 ? post.short_description|slice(0, 50) ~ "..." : post.short_description }}</li>
                                            <li><a href="?route=custompages/singlepost&id={{ post.post_id }}"><i class="fa fa-chevron-right i-resp" aria-hidden="true"></i> Leia mais</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                       {% endfor %}

                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="sidebar-block">
                    <h3 class="news-title-sidebar "><i>Produtos em destaque</i></h3>
                    <ul class="list-unstyled">
                        
                        {% for item in popular_products %}
                            <li class="popular-product-item">
                                <div class="row">
                                    <div class="col-md-5 col-sm-6 col-xs-6"><a href="?route=product/product&product_id={{ item.product_id }}"><img src="{{ item.image }}" alt=""></a></div>
                                    <div class="col-md-7 col-sm-6 col-xs-6">
                                        <ul class="list-unstyled">
                                            <li><a href="?route=product/product&product_id={{ item.product_id }}">{{ item.name }}</li>
                                            <li>R${{ item.price|round(2, 'ceil')|number_format(2, ',', '.') }}</li>
                                            <li><a href="?route=product/product&product_id={{ item.product_id }}"><i class="fa fa-plus i-resp" aria-hidden="true"></i> Ver Detalhes</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="sidebar-block">
                    <h3 class="news-title-sidebar "><i>Facebook</i></h3>
                    <div class="fb-page" data-href="https://www.facebook.com/herbicat/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/herbicat/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/herbicat/">Facebook</a></blockquote></div>
                </div>
            </div>

        </div>
    </div>
</section>



{{ footer }}
