{{ header }}
<section id="assistencia-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="assistencia-content company">
                    <div class="col-sm-4 bloco assistencia-title-background no-float">
                        <div class="assistencia-title">
                            <h2 class="font-yellow">TREINAMENTOS</h2>
                        </div>
                    </div>
                    <div class="col-sm-8 assistencia-title bloco no-float">
                        <div class="assistencia-description font-green">
                            <p>A Herbicat acredita que a evolução do conhecimento humano é o primeiro segredo para a evolução geral de todo negócio.</p>
                            <p>Nesse caminho desenvolvemos sistemas de treinamento e capacitação para diversos níveis profissionais desde operadores até gestores na área de tecnologia de aplicação.</p>
                            
                            <div style="margin:2.5rem 0">
                                <ul>
                                    <li>Manutenção em pulverizadores da Herbicat</li>
                                    <li>
                                        <ul>
                                            <li>Bombas de diafragma</li>
                                            <li>Comandos eletrônicos</li>
                                            <li>....</li>
                                        </ul>
                                    </li>
                                    <li>Tecnologia de aplicação para supervisores</li>
                                    <li>Gestão tecnológica para aplicação de agroquímicos</li>
                                </ul>
                            </div>

                            <p>Contato: (17) 3524 9799 - contato@herbicat.com.br</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ footer }}
