section#items-search {
    margin-bottom: 50px;
}

section#items {
    margin-bottom: 60px;
}

.card-body h5 {
  font-size: 15px;
  color: #1a5f30;
  text-transform: uppercase;
  margin: 0px;
}

.card-body p {
    font-size: 10px;
    font-weight: bold;
    color: #444444;
    margin-bottom: 0px;
}


.card-body span {
    font-size: 15px;
    color: #1a5f30;
    text-transform: uppercase;
    font-weight: 500;
}

.card-body .manufacturer {
    border-bottom: 2px solid #1a5f30;
    width: 70%;
    padding-bottom: 10px;
}

.card-body .btn {
    margin: 15px 0px;
}

.card-body i {
    margin-left: 10px;
}

.mask-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #005f2763;
    border-radius: 10px;
    display: none;
}

.img-item .mask-item a.link-item {
    top: 50%;
    position: absolute;
    margin-top: -36px;
    left: 36%;
    margin-left: -36px;
}

.img-item:hover .mask-item {
    display: block;
}




/* PRODUCT PAGE */

section.product-details {
    margin: 35px 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.product-info h3 {
    font-size: 16px;
    color: #1a5f30;
    text-transform: uppercase;
    font-weight: 500;
    margin: 8px 0px;
    font-weight: 600;
}

.product-info span {
    font-size: 13px;
    font-weight: bold;
    color: #444444;
}

.product-details, .product-details-text {
    margin-top: 35px;
}

.product-details h3 {
    font-size: 16px;
    color: #1a5f30;
    text-transform: uppercase;
    font-weight: 600;
}

.product-details i {
    color: #1a5f30;
}

.product-rating {
    margin: 35px 0px;
    padding: 15px 0px;
    border-bottom: 1px solid #1a5f30;
    border-top: 1px solid #1a5f30;
    width: 60%;
}

.product-rating span:last-child{
    margin-left: 12px;
}

.fa-star:before {
    color: gold;
}










@media only screen and (max-width: 768px) {

    .product-rating {
        width: 100%;
    }

}
