{{ header }}
<section id="assistencia-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="assistencia-content company">
                    <div class="col-sm-4 assistencia-title-background no-float">
                        <div class="assistencia-title">
                            <h2 class="font-yellow">ASSISTÊNCIA TÉCNICA</h2>
                        </div>
                    </div>
                    <div class="col-sm-8 no-float">
                        <div class="assistencia-description font-green">
                            <p>A Herbicat possui assistência técnica especializada em instalação e manutenção de sistemas para pulverização, contando compulverizadores, sistemas elétricos e controladores.</p>
                            <p>Os técnicos da Herbicat são altamente treinados, possuem experiência, responsabilidade na prestação de serviços e de informações, buscando suprir totalmente a necessidade dos clientes atendidos.</p>
                            <p>
                                Contato: (17) 3524 9799 - posvenda@herbicat.com.br</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ footer }}
