{{ header }}
<section id="distribuicao-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="distribuicao-content company">
                    <div class="col-sm-4 distribuicao-title-background no-float">
                        <div class="distribuicao-title">
                            <h2 class="font-yellow">DISTRIBUIÇÃO</h2>
                        </div>
                    </div>
                    <div class="col-sm-8 no-float">
                        <div class="distribuicao-description font-green">
                            <p>A Herbicat é fornecedora das principais marcas de peças
                                e acessórios tecnológicos para pulverização.</p>
                            <p>Você encontra:</p>
                            <ul>
                                <li>Componentes de tanque</li>
                                <li>Componentes de barra</li>
                                <li>Pontas de pulverização</li>
                                <li>Filtros de linha e de bicos</li>
                                <li>Pontas</li>
                                <li>Acessórios</li>
                                <li>Eletrônica</li>
                                <li>Bombas de membrana</li>
                                <li>Bombas centrífugas</li>
                                <li>Bombas elétricas</li>
                                <li>Acessórios de bombas</li>
                                <li>Costais / Rotativos</li>
                                <li>Regulagem/Calibração - conexões</li>
                                <li>Regulagem/Calibração - medidores em geral</li>
                                <li>Regulagem/Calibração - pistolas</li>
                                <li>Regulagem/Calibração - registros</li>
                                <li>Regulagem/Calibração - válvulas e comandos</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ footer }}
