{{ header }}
<section id="industry-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="industry-content company">
                    <div class="col-sm-4 industry-title-background no-float">
                        <div class="industry-title">
                            <h2 class="font-yellow">INDÚSTRIA</h2>
                        </div>
                    </div>
                    <div class="col-sm-8 no-float">
                        <div class="industry-description font-green">
                            <p>A Herbicat é uma empresa especializada no desenvolvimento de tecnologias para a aplicação de insumos na agricultura. A unidade de negócio industrial conta com produtos padrão, personalizados/customizados ou projetos desenvolvidos sob demanda.</p>
                            <p>A indústria de pulverizadores trabalha em parceria com fabricantes de peças e acessórios tecnológicos para pulverização.</p>
                            <p>Trabalhe com os pulverizadores agrícolas Herbicat para mais performance e responsabilidade ambiental no campo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ footer }}
