<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/herbicat/stylesheet/stylesheet.css" rel="stylesheet" />
<link href="catalog/view/theme/herbicat/stylesheet/responsive.css" rel="stylesheet" />
<link href="catalog/view/theme/herbicat/stylesheet/animate.css" rel="stylesheet" type="text/css" />

{# e-commerce #}
<link href="catalog/view/theme/herbicat/stylesheet/ecommerce.css" rel="stylesheet">

{# product-list #}
<link rel="stylesheet" href="catalog/view/theme/herbicat/stylesheet/product-list.css">

{# Câmera slide #}
<script src="catalog/view/theme/herbicat/plugins/camera-slide/scripts/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="catalog/view/theme/herbicat/plugins/camera-slide/scripts/camera.min.js" type="text/javascript"></script>
<link href="catalog/view/theme/herbicat/plugins/camera-slide/css/camera.css" rel="stylesheet" type="text/css" />

{# Custom_Script #}
<script src="catalog/view/javascript/script.js" type="text/javascript"></script>



{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>


{# Social Media #}
<div class="social-media">
  <ul>
  <li>
      <a href="javascript:;" >
        <img src="catalog/view/theme/herbicat/image/icn_whatsapp.png" />
      </a>
    </li>
    <li>
      <a href="javascript:;" target="_blank">
        <img src="catalog/view/theme/herbicat/image/icn_facebook.png" />
      </a>
    </li>
    <li>
      <a href="javascript:;" target="_blank">
        <img src="catalog/view/theme/herbicat/image/icn_instagram.png" />
      </a>
    </li>
    <li>
      <a href="javascript:;" >
        <img src="catalog/view/theme/herbicat/image/icn_youtube.png" />
      </a>
    </li>
    <li>
      <a href="javascript:;" >
        <img src="catalog/view/theme/herbicat/image/linkedin_ico.png" />
      </a>
    </li>
    </ul>
  </div>


<section class="mobile-top-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <ul class="list-inline">
                <li><a href="/?route=custompages/calculator"><i class="fa fa-calculator" aria-hidden="true"></i> Calculadora</a></li>
                <li><a href="/?route=custompages/revendas"><i class="fa fa-search" aria-hidden="true"></i> Revendas</a></li>
                <li><a href="/?route=custompages/manuals"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Catálogo</a></li>
                {# <li><a href="javascript:;">Notícias</a></li> #}
                <li><a href="tel:+551735249797"><i class="fa fa-phone" aria-hidden="true"></i> 17 3524 9797</a></li>
            </ul>
            </div>
            </div>
        </div>
    </div>
</section>

{{ menu }}

