{% if categories %}


<div class="main-menu {{route == 'common/home'?'home':""}} {{route == ''?'home':''}}">
    <div class="top-menu">
        <ul class="social-media-mobile">
            <li class="social-media-mobile-link"><img src="catalog/view/theme/herbicat/image/icn_whatsapp.png" /></li>
            <li class="social-media-mobile-link"><img src="catalog/view/theme/herbicat/image/icn_facebook.png" /></li>
            <li class="social-media-mobile-link"><img src="catalog/view/theme/herbicat/image/icn_instagram.png" /></li>
            <li class="social-media-mobile-link"><img src="catalog/view/theme/herbicat/image/icn_youtube.png" /></li>
            <li class="social-media-mobile-link"><img src="catalog/view/theme/herbicat/image/linkedin_ico.png" /></li>
        </ul>
        <ul class="menu-pipe">
            <li><a href="{{shopping_cart}}" title="{{text_shopping_cart}}"><i class="fa fa-shopping-cart"></i><span
                        class="hidden-xs hidden-sm hidden-md"> {{ text_shopping_cart }}</span></a></li>
            <li><a class="menu-mobile" href="javascript:;">Catálogo</a></li>
            <li><a class="menu-mobile" href="javascript:;">17 3524 9797 </a></li>
            <li><a href="{{login}}">Login</a></li>
            <li><a href="{{register}}">{{ text_register }}</a></li>
        </ul>
    </div>
    <div class="container">
        <div id="main-menu" class="container">
            <div class="main-menu-wrapper">
                <div class="main-menu-flex">
                    <div id="logo">
                        {% if logo %}
                        <span style="visibility: hidden;">teste</span>
                        <a href="{{ home }}">
                            {% if (route != "custompages/componentes") %}
                            <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
                        {% else %}
                        <img src="image/cache/catalog/herbicat_logo_verde_branco.png" title="{{ name }}"
                            alt="{{ name }}" class="img-responsive" /></a>
                        {% endif %}
                        {% else %}
                        <h1>
                            <a href="{{ home }}">{{ name }}</a>
                        </h1>
                        {% endif %}
                    </div>
                </div>
                <div class="main-menu-flex">
                    <div class="top-menu floating">
                        <ul>
                            <li><a href="/?route=custompages/calculator"><i class="fa fa-calculator"
                                        aria-hidden="true"></i> Calculadora de aplicações</a></li>
                            <li><a href="/?route=custompages/revendas"><i class="fa fa-search" aria-hidden="true"></i>
                                    Procure uma revenda</a></li>
                            <li><a href="/?route=custompages/manuals">Catálogo</a></li>
                            {# <li><a href="javascript:;">Notícias</a></li> #}
                            <li><a href="javascript:;">17 3524 9797 </a></li>
                        </ul>
                    </div>
                    <nav class="navbar navbar-right" id="menu">
                        <div class="navbar-header">
                            <!-- <span class="visible-xs" id="category">{{ text_category }}</span> -->
                            <button class="btn btn-navbar navbar-toggle" data-target=".navbar-ex1-collapse"
                                data-toggle="collapse" type="button">
                                <i id="menu-button" class="fa fa-bars"></i>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">

                            <ul class="nav navbar-nav">
                                <li class="dropdown" id="home">
                                    <a href="#javascript:;" class="dropdown-toogle" data-toggle="dropdown">HERBICAT
                                        <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-inner">
                                            <ul class="list-unstyled">
                                                <li>Historia</li>
                                                <li>Responsabilidade</li>
                                                <li>Prêmios</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                </li>
                                <li class="dropdown" id="solutions-menu">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">SOLUÇÕES
                                        <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-inner">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="/?route=custompages/equipamentos">Equipamentos</a>
                                                </li>
                                                <li>
                                                    <a href="/?route=custompages/componentes">Componentes</a>
                                                </li>
                                                <li>
                                                    <a href="/?route=custompages/pulverizadores">Pulverizadores</a>
                                                </li>
                                                <li>
                                                    <a href="/?route=custompages/assistencia">Assistência Técnica</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <!--<li>
                                    <a href="/?route=custompages/assistenciatecnica">ASSISTÊNCIA TÉCNICA</a>
                                </li>-->
                                <li>
                                    <a href="/?route=custompages/news" id="blog-news">NOTÍCIAS E ARTIGOS</a>
                                </li>

                                <li>
                                    <a href="javascript:;" id="contact">CONTATO</a>
                                </li>
                                {# <li>
                                    <a href="javascript:;">BLOG</a>
                                </li> #}
                                <li>
                                    <a href="?route=product/products">LOJA</a>
                                </li>

                                <li class="menu-link-mobile">
                                    </i><a href="{{login}}">Login</a>
                                </li>
                                <li class="menu-link-mobile">
                                    <a href="{{register}}">{{ text_register }}</a>
                                </li>
                                {# {% for category in categories %}
                                    {% if category.children %}
                                        <li class="dropdown">
                                            <a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
                                            <div class="dropdown-menu">
                                                <div class="dropdown-inner">
                                                    {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                                                        <ul class="list-unstyled">
                                                            {% for child in children %}
                                                                <li>
                                                                    <a href="{{ child.href }}">{{ child.name }}</a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ category.href }}">{{ category.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %} #}
                                <li class="btn-app-parent">
                                    <a class="btn-app" href="">BAIXE NOSSO APP</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}