<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head><meta http-equiv="Content-Type" content="text/html; charset=euc-kr">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/herbicat/stylesheet/stylesheet.css" rel="stylesheet">
{# e-commerce #}
<link href="catalog/view/theme/herbicat/stylesheet/ecommerce.css" rel="stylesheet">

{# Câmera slide#}
<script src="catalog/view/theme/herbicat/plugins/camera-slide/scripts/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="catalog/view/theme/herbicat/plugins/camera-slide/scripts/camera.min.js" type="text/javascript"></script>
<link href="catalog/view/theme/herbicat/plugins/camera-slide/css/camera.css" rel="stylesheet" type="text/css" />


{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
{# Social Media #}
<div class="social-media">
  <ul>
  <li>
      <a href="javascript:;" >
        <img src="catalog/view/theme/herbicat/image/icn_whatsapp.png" />
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/herbicat" target="_blank">
        <img src="catalog/view/theme/herbicat/image/icn_facebook.png" />
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/herbicatpulverizacao/" target="_blank">
        <img src="catalog/view/theme/herbicat/image/icn_instagram.png" />
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/herbicatpulverizacao" >
        <img src="catalog/view/theme/herbicat/image/icn_youtube.png" />
      </a>
    </li>
    
    </ul>
  </div>
{{ menu }}

