{{ header }}
<script>
    jQuery(function () {
        jQuery('#camera').camera({
            fx: 'random',
            height: '1080',
            pagination: false,
            navigation: false,
            thumbnails: false,
            playPause: false,
            pauseOnClick: false,
            autoPlay: true,
            hover: false,
            overlayer: true,
            loader: 'none',
            time: 5000
        });
    });
</script>
<div class="banner_1">
    <div class="" id="camera">
        <div data-src="/catalog/view/theme/herbicat/image/slide1.jpg"></div>
        <div data-src="/catalog/view/theme/herbicat/image/slide2.jpg"></div>
        <div data-src="/catalog/view/theme/herbicat/image/slide3.jpg"></div>
    </div>
    <div class="banner_1 info">
        <p>
            OFERECER AS
            <br>
            MELHORES SOLUÇÕES
            <br>
            E
            <span class='font-white'>SUSTENTAR ISSO.</span>
            <p></div>
            <img class="pulse" src="catalog/view/theme/herbicat/image/icn_scroll.png"/>
        </div>
        <div class="banner_2">
            <div class="banner_2 info">
                <h2>SER SUSTENTÁVEL</h2>
                <h5>Olhar humano, financeiro e ambiental.</h5>
            </div>
        </div>
        {# <div class="news">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h1 class="title">FEIRAS E EVENTOS</h1>
                                                </div>
                                                <div class="col-sm-6">
                                                    <a href="javascript:;">
                                                        <img src="catalog/view/theme/herbicat/image/foto_1.jpg" class="img-responsive"/>
                                                        <span class="news-title">AGRISHOW 2019</span>
                                                        <span class="news-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus metus vestibulum, porttitor purus eu, congue ligula. Etiam tristique elementum volutpat.</span>
                                                    </a>
                                                </div>
                                                <div class="col-sm-6">
                                                    <a href="javascript:;">
                                                        <img src="catalog/view/theme/herbicat/image/foto_2.jpg" class="img-responsive"/>
                                                        <span class="news-title">INSECTSHOW 2019</span>
                                                        <span class="news-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus metus vestibulum, porttitor purus eu, congue ligula. Etiam tristique elementum volutpat.</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> #}
        {{ footer }}
