{% if categories %}
    <div class="main-menu {{route == 'common/home'?'home':""}} {{route == ''?'home':''}}">
        <div class="top-menu">
            <ul>
                <li><a href="{{shopping_cart}}" title="{{text_shopping_cart}}"><i class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md"> {{ text_shopping_cart }}</span></a></li>
                <li><a href="{{login}}">Login</a></li>
                <li><a href="{{register}}">{{ text_register }}</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="main-menu-wrapper">
                <div class="main-menu-flex">
                    <div id="logo">
                        {% if logo %}
                            <a href="{{ home }}">
                                <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive"/></a>
                        {% else %}
                            <h1>
                                <a href="{{ home }}">{{ name }}</a>
                            </h1>
                        {% endif %}
                    </div>
                </div>
                <div class="main-menu-flex">
                    <div class="top-menu floating">
                        <ul>
                            <li><a href="javascript:;">Catálogo</a></li>
                            {# <li><a href="javascript:;">Notícias</a></li> #}
                            <li><a href="javascript:;">17 3524 9797 </a></li>
                        </ul>
                    </div>
                    <nav class="navbar navbar-right" id="menu">
                        <div class="navbar-header">
                            <span class="visible-xs" id="category">{{ text_category }}</span>
                            <button class="btn btn-navbar navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">

                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="/?route=custompages/herbicat">HERBICAT</a>
                                </li>
                                <li class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">SOLUÇÕES</a>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-inner">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="/?route=custompages/industry">Indústria</a>
                                                </li>
                                                <li>
                                                    <a href="/?route=custompages/distribuicao">Distribuição</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/?route=custompages/assistenciatecnica">ASSISTÊNCIA TÉCNICA</a>
                                </li>
                                <li>
                                    <a href="javascript:;" id="contact">CONTATO</a>
                                </li>
                                {# <li>
                                    <a href="javascript:;">BLOG</a>
                                </li> #}
                                <li>
                                    <a href="?route=product/products">LOJA</a>
                                </li>
                                
                                {# {% for category in categories %}
                                    {% if category.children %}
                                        <li class="dropdown">
                                            <a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
                                            <div class="dropdown-menu">
                                                <div class="dropdown-inner">
                                                    {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                                                        <ul class="list-unstyled">
                                                            {% for child in children %}
                                                                <li>
                                                                    <a href="{{ child.href }}">{{ child.name }}</a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ category.href }}">{{ category.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %} #}
                                <li class="btn-app-parent">
                                    <a class="btn-app" href="">BAIXE NOSSO APP</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endif %}
