body {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    height:100%;
}
html,body.container{
    height: 100%;
}

.social-media ul li {
    margin-bottom: 15px;
}

.social-media ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444;
}


/* default font size */

.fa {
    font-size: 14px;
}


/* Override the bootstrap defaults */

h1 {
    font-size: 33px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 15px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10.2px;
}

a {
    color: #23a1d1;
}

a:hover,
a:focus {
    text-decoration: none;
}

legend {
    font-size: 18px;
    padding: 7px 0px
}

label {
    font-size: 12px;
    font-weight: normal;
}

.font-white {
    color: #FFF;
}

.font-yellow {
    color: #b6c931;
}
.font-green {
    color: #225f27 !important;
}


/*
* Header
*/

.top-menu ul li {
    display: inline-block;
    text-align: right;
    border-left: 1px solid #225f27;
    color: #225f27;
    font-size: 14px;
    font-weight: bold;
}

.top-menu ul li:first-child {
    border-left: none;
}

.top-menu ul {
    text-align: right;
}

.top-menu ul li a {
    color: #225f27;
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
}

.top-menu {
    padding: 10px 25px 10px 10px;
}

.top-menu.floating {
    padding: 0px 185px 10px 0px;
}

.main-menu.home {
    position: absolute;
    width: 100%;
    z-index: 9;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0.9)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    padding-bottom: 80px;
}

.main-menu-wrapper {
    display: table;
    width: 100%;
}

.main-menu-flex {
    display: table-cell;
    vertical-align: bottom;
}

.main-menu-flex .navbar {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
    margin-bottom: 0px;
}

.collapse.navbar-collapse.navbar-ex1-collapse ul li a {
    background: #b6c931;
    color: #FFFFFF;
    white-space: nowrap;
    text-transform: uppercase;
}

.collapse.navbar-collapse.navbar-ex1-collapse ul li a:hover {
    background: #225f27;
    color: #FFF;
}

.dropdown-menu {
    background: #225f27;
    margin-top: 0px !important;
}

.dropdown-menu .dropdown-inner ul li a {
    display: block;
    float: none;
    width: 100%;
    background: transparent !important;
    color: #FFF !important;
}

.dropdown-menu .dropdown-inner ul li {
    width: 100%;
    display: block !important;
    background: transparent;
}

.dropdown-menu .dropdown-inner ul.list-unstyled li a {
    display: block;
    padding: 10px 10px;
    text-transform: none;
}

.dropdown-inner ul.list-unstyled {
    display: block !important;
    width: 100%;
}

.dropdown-menu .dropdown-inner ul.list-unstyled li a:hover {
    color: #b6c931 !important;
}

li.btn-app-parent {
    margin-left: 10px;
}

li.btn-app-parent a.btn-app {
    margin-left: 10px;
    color: #b6c931 !important;
    background: #225f27 !important;
}

div#logo {
    float: left;
    margin-right: 50px;
    max-width: 250px;
}

.social-media {
    -webkit-box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.5);
    box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.5);
    z-index: 99;
    position: fixed;
    top: 175px;
    background: rgba(165, 203, 2, 0.90);
    padding: 15px 7px;
    right: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 30px;
    margin-right: 10px;
}
.social-media ul {
    margin: 0px;
    padding: 1px;
}

.social-media ul li:last-child {
    margin-bottom: 0px;
}

/*Home*/

.banner_1 {
    height: 1080px;
    width: 100%;
    background-size: cover;
    position: relative;
}

.banner_1.info {
    background: url('../image/faixa_banner.png') no-repeat;
    width: 815px;
    height: 318px;
    position: absolute;
    right: 0;
    top: 450px;
}

.banner_1.info p {
    font-size: 41px;
    line-height: normal;
    margin: 0 auto;
    margin-left: 120px;
    margin-top: 101px;
    color: #225f28;
}

.banner_2 {
    background: url('../image/banner_2.jpg') no-repeat center;
    height: 920px;
    width: 100%;
    background-size: cover;
    position: relative;
}

.banner_2.info {
    position: absolute;
    width: 1000px;
    height: 300px;
    background: none;
    margin: 0 auto;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -500px;
    text-align: center;
}

.banner_2.info h2 {
    margin: 0px;
    font-size: 80px;
    color: #FFFFFF;
}

.banner_2.info h5 {
    margin-top: 50px;
    font-size: 30px;
    color: #FFFFFF;
}


/*
*Feiras e eventos
*/

.news h1.title {
    text-align: center;
    margin-bottom: 40px;
    color: #1a5f30;
}

.news {
    padding-top: 35px;
    padding-bottom: 35px;
}

.news a {
    color: #1a5f30;
}

.news a:hover {
    text-decoration: none;
}

span.news-title {
    display: block;
    text-align: right;
    padding: 10px 0px;
    font-size: 18px;
}

span.news-excerpt {
    color: #333;
    display: block;
    text-align: justify;
    padding: 10px 0px;
    font-size: 14px;
}


/*
*Custom Bootstrap
*/

.contact_form {
    background: url(../image/background_contact_form.jpg) no-repeat center top;
    padding: 50px 0px;
}

form#contact_form input,
form#contact_form textarea {
    border-radius: 0 !important;
    border: 1px solid #1a5f30;
    background: transparent;
}

form#contact_form input:focus,
form#contact_form textarea:focus {
    outline: none !important;
}

.btn.btn-primary.herbicat {
    background: #1a5f30 !important;
    color: #a5cb02;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 40px;
    letter-spacing: 2px;
    border-radius: 0px;
}

p.contact-title {
    color: #fff;
    font-weight: bold;
}

span.contact-title {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    color: #005f29;
}

.contact_infos h4 {
    margin-top: 0px;
    color: #005f29;
    font-weight: bold;
}

.contact_infos img {
    display: inline-block !important;
}

.contact_infos img.pagseguro {
    width: 30%;
}

.contact-items li {
    margin-bottom: 5px;
}

.footer-informations>.col-md-3.col-12 {
    margin-bottom: 15px;
}

.footer-informations a{
    color: #005f29;
}

.footer-informations a:hover{
    color: #005f29;
    text-decoration: none;
}

.contact-items li>span {
    font-weight: bold;
    font-size: 15px;
}

span.contact-info {
    display: block;
    color: #fff;
    font-size: 13px;
}

form#contact_form input::-webkit-input-placeholder,
form#contact_form textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #1a5f30;
}

form#contact_form input::-moz-placeholder,
form#contact_form textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #1a5f30;
}

form#contact_form input:-ms-input-placeholder,
form#contact_form textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #1a5f30;
}

form#contact_form input:-moz-placeholder,
form#contact_form textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #1a5f30;
}

.pulse {
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
    animation: pulse 2s infinite;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    margin-left: -25px;
    bottom: 96px;
    border-radius: 31%;
}
div#content {
    margin-bottom: 100px;
}
.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #005f29;
    border-radius: 4px;
}

.breadcrumb>li a {
    color: #FFF;
}

div#product-product {
    margin-top: 50px;
}

ul.thumbnails {
    text-align: center;
}

ul.thumbnails li.image-additional {
    display: inline-block;
}

a.custom-btn-white {
    padding: 8px 15px;
    border: 1px solid;
    color: #FFF;
    margin-top: 10px;
    float: right;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.footer-informations {
    /* background: #005f29; */
    background: #fff;
    padding: 36px 0px 0px;
    color: #005f29;
    border-top: 2px solid;
}

.copyright {
    background: #a5cb02;
    padding: 5px;
    font-size: 14px;
    margin-top: 50px;
    color: #FFF;
    overflow: hidden;
}

.copyright a {
    color: #FFF;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 20px;
}

.tab-content {
    margin-bottom: 50px;
}

.tab-content>.active {
    display: block;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 16px;
    line-height: 1.5em;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-size: 20px;
}

.nav-tabs>li a {
    font-size: 20px;
    color: #666;
}

div#information-information h1 {
    border-bottom: 2px solid #225f2a;
    padding-bottom: 10px;
    margin-top: 50px;
    width: 18%;
    margin-bottom: 30px;
}


/*Company*/
section#information-top {
    background: url(../image/banner_interno.jpg) no-repeat;
    width: 100%;
    margin-top: -240px;
    background-size: cover;
    padding-bottom: 80px;
}

.information-content.company {
    background: rgb(0, 95, 41);
    background: linear-gradient(90deg, rgba(0, 95, 41, 0.9) 39%, rgba(165, 203, 2, 1) 100%);
    overflow: hidden;
    margin-top: 260px;
}

.information-text {
    padding: 20px;
    font-size: 16px;
}

.information-image {
    padding: 35px;
}



/*Industria*/
section#industry-top {
    background: url(../image/banner_interno.jpg) no-repeat center;
    width: 100%;
    margin-top: -225px;
    overflow: hidden;
    background-size: cover;
    padding-bottom: 150px;
}

.industry-content.company {
    background: rgba(165, 203, 2, 0.90);
    overflow: hidden;
    margin-top: 300px;
    height: 100%;
    display: table;
}
.industry-content.company .no-float {
    float: none;
    vertical-align: middle;
    display: table-cell;
}
.industry-title-background{
    background: url(../image/img_industria.jpg) no-repeat center;
    display: table-row;
    height: 100%;
}
.industry-title{
    padding: 20px;
}
.industry-title h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}
.industry-image {
    padding: 35px;
}
.industry-description {
    padding: 60px 30px;
    font-size: 16px;
    text-align: justify;
}

.industry-description p {
    line-height: 1.4em;
}

/*Distribuicao*/
section#distribuicao-top {
    background: url(../image/banner_distribuicao.jpg) no-repeat center;
    width: 100%;
    margin-top: -225px;
    overflow: hidden;
    background-size: cover;
    padding-bottom: 150px;
}

.distribuicao-content.company {
    background: rgba(165, 203, 2, 0.90);
    overflow: hidden;
    margin-top: 300px;
    height: 100%;
    display: table;
}
.distribuicao-content.company .no-float {
    float: none;
    vertical-align: middle;
    display: table-cell;
}
.distribuicao-title-background{
    background: url(../image/img_industria.jpg) no-repeat center;
    display: table-row;
    height: 100%;
}
.distribuicao-title{
    padding: 20px;
}
.distribuicao-title h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}
.distribuicao-image {
    padding: 35px;
}
.distribuicao-description {
    padding: 60px 30px;
    font-size: 16px;
    text-align: justify;
}

.distribuicao-description p {
    line-height: 1.4em;
}



/*Assistencia*/
section#assistencia-top {
    background: url(../image/banner_interno.jpg) no-repeat center fixed;
    width: 100%;
    margin-top: -220px;
    /*overflow: hidden;*/
    background-size: cover;
    padding-bottom: 150px;
}

.assistencia-content.company {
    background: rgba(165, 203, 2, 0.90);
    overflow: hidden;
    margin-top: 300px;
    height: 100%;
    display: table;
}
.assistencia-content.company .no-float {
    float: none;
    vertical-align: middle;
    display: table-cell;
}
.assistencia-title-background{
    background: url(../image/img_industria.jpg) no-repeat top fixed;
    display: table-row;
    height: 100%;
    background-size: cover
}
.assistencia-title{
    padding: 20px;
}
.assistencia-title h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}
.assistencia-image {
    padding: 35px;
}
.assistencia-description {
    padding: 60px 30px;
    font-size: 16px;
    text-align: justify;
}

.assistencia-description p {
    line-height: 1.4em;
}


.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}



/* 07-06 */

.comming-soon {
    margin: 35px 0px;
}

.jumbotron {
    background-color: #FFFFFF;
}

.jumbotron p {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    
}

.jumbotron h1 {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 600;
    color: #1a5f30;
    font-size: 3em;
}

.comming-soon img {
    float: right;
    margin: 25% 0;
}

@media only screen and (max-width: 768px) {
    .comming-soon img {
        float: none;
        margin: auto;
    }
}

@media only screen and (max-width: 425px) {
    .comming-soon img {
        display: none;
    }
}

/* PAGINATION */

.pagination {
    margin: 10px 0px;
}

.pagination span {
    background: #b6c931 !important;
    border-color: transparent !important;
}

.pagination a {
    color: #005f29 !important;
}


.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
  }
  
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }

  .sub-menu-item {
    width: 200px;
  }

  
  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    /* margin-right: -10px; */
  }
  
  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }
  
  .dropdown-submenu.pull-left {
    float: none;
  }
  
  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }



  .google-maps {
    position: relative;
    height: 500px;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 500px !important;
}
  
    
.title-wrapper h1 {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 600;
    color: #1a5f30;
    font-size: 1.2em;
}

    
.title-wrapper h3 {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 600;
    color: #1a5f30;
    font-size: 1em;
}

.form-wrapper .btn-primary{
    padding: 8px 30px;
    text-transform: uppercase;
    border-radius: 0px;
}

.sidebar-contact-item {
    margin-bottom: 35px;
}


.sidebar-contact-item p{
    margin-bottom: 0px;
}

.sidebar-contact-item a{
    color: #666;
    font-weight: bold;
}

.sidebar-contact-item a:hover{
    color: #666;
    text-decoration: none
}

.sidebar-contact-item i {
    color: #1a5f30;
    font-weight: bold;
    margin-right: 5px;
}

.contact-form {
    margin-bottom: 35px;
}

.contact-form .form-control {
    border-radius: 0px;
    background-color: #f2f2f2;
    border: none;
    height: 42px;
}

.contact-form textarea {
    height: 150px !important;
}


.content-title {
    color: #1a5f30;
    font-size: 2.4em;
    text-transform: uppercase;
    font-weight: bold;
}

.content p {
    font-size: 1em;
    line-height: 1.9em;
}

/* .blockquote-container {
    margin-top: 35px;
    margin-bottom: 35px;
} */

/* .blockquote {
    background-color: #e4eacb;
    text-transform: uppercase;
    border-left: 5px solid #005f29;
    text-transform: none !important
}

.blockquote-container p {
    text-align: left !important;
} */

.content-subtitle {
    font-size: 1.8em;
    color: #005f29;
    text-transform: uppercase;
    font-weight: bold;
}

.our-values-title-wrapper h3 {
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}

.our-values-text-wrapper ul>li {
    font-size: 1em;
    margin-bottom: 5px;
}

.our-values-text-wrapper ul>li>i {
    margin-right: 5px;
    color: #005f29;
    font-size: 0.5em;
}

.our-values .row {
    display: flex;
}

.our-values .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.institucional-text .row {
    display: flex;
}

.institucional-text .row > [class*='col-']{
    display: flex;
    flex-direction: column;
}

.values img {
    width: 80px;
    margin: auto;
}

.left-itens {
    margin: 2% 0%;
}

.left-item-single {
    margin-bottom: 35px;
}



.institucional-text h1 {
    font-size: 28px !important;
    color: #1a5f30 !important;
    text-transform: uppercase;
    font-weight: 500;
    margin: 8px 0px;
    font-weight: 600;
}

.main-img-single-wrapper img {
    float: right;
    margin-bottom: 25px;
}

.bottom-img-single-wrapper img {
    margin: auto;
}

.middle-img-single-wrapper {
    position: absolute;
    top: 35%;
}

.middle-img-single-wrapper, .bottom-img-single-wrapper img, .main-img-single-wrapper img {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
}








  
  /* center the blockquote in the page */
  .blockquote-wrapper {
     display: flex;
     /* height: 100vh; */
     padding: 0 20px;
  }
  
  /* Blockquote main style */
  .blockquote {
      position: relative;
      font-family: 'Barlow Condensed', sans-serif;
      max-width: 620px;
      margin: 80px auto;
      align-self: center;
  }
  
  /* Blockquote header */
  .blockquote h1 {
      position: relative; /* for pseudos */
      color: #005f29;
      font-size: 2.8rem;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      border: 2px solid #fff;
      border: solid 3px;
      border-radius:20px;
      padding: 25px;
  }
  
  /* Blockquote right double quotes */
  .blockquote h1:after {
      content:"";
      position: absolute;
      border: 3px solid #005f29;
      border-radius: 0 50px 0 0;
      width: 60px;
      height: 60px;
      bottom: -60px;
      left: 50px;
      border-bottom: none;
      border-left: none;
      z-index: 3; 
  }
  
  
  /* increase header size after 600px */
  @media all and (min-width: 600px) {
      .blockquote h1 {
          font-size: 1.3em;
          line-height: 1.2;
     }
  
  }
  
  /* Blockquote subheader */
  .blockquote h4 {
      position: relative;
      font-size: 0.9em;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      padding-top: 15px;
      z-index: 1;
      margin-left:150px;
      padding-left:12px;
  }
  
   
  .blockquote h4:first-letter {
    margin-left:-12px;
  }



.product-card {
    height: 500px;
}









/* .our-values-content:first-child {
    border-right:rgba(68,68,68,.3) solid 4px;
}

.our-values-content:last-child {
    border-left:rgba(68,68,68,.3) solid 4px;
} */

/* .values {
    margin-bottom: 60px;
}

.values p {
    text-align: left !important;
}

.values li { 

    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: 7px;
} */

.inner-col {
    padding: 0px;
}

.line-bottom {
    height: 430px !important;
}
 
.panel-heading {
    width: 550px !important;
    border: none;
    border-radius: 0px;
    background-color: #005f29;
    color: #fff;
    text-transform: uppercase;
}

.d-contents {
    display: contents !important;
}

.panel.panel-default {
    margin-bottom: 5px;
    border: none;
    border-radius: 0px;
}

.panel-body {
    border: none;
    border-radius: 0px;
    background-color: #fff;
    border-bottom: #005f29 5px solid;
    text-align: left !important;
    font-size: 14px;
}

.panel-body a {
    color: #1a5f30;
    text-decoration: none;
    font-weight: bold;
}

.rotate-icon {
    transform: rotate(180deg);
}



.history-herbicat .nav-tabs, .nav-tabs a {
    border: none !important;
}

.history-herbicat .tab-pane.fade, .tab-pane.fade.active.in > a {
    border: none;
}

.history-herbicat .nav-tabs>li {
    margin: 0rem .5rem;
}

.history-herbicat .nav-tabs>li>a {
    margin: 0px;
    height: 70px;
    width: 70px;   
    border-radius: 50% !important;
    border: 3px solid #005f29 !important;
    font-size: 18px;
}

.history-herbicat .nav-tabs>li.active>a {
    
    color: #005f29 !important;
    font-size: 18px !important;
    font-weight: bold;
}

.history-herbicat .nav-tabs>li>a:hover {
    color: #005f29 !important;
    font-size: 18px !important;
    transition: .3s ease-in-out;
    font-weight: bold;
}

.history-herbicat .nav-tabs>li>a {
    position: relative;
    display: block;
    padding: 20px 13px;
}


.justify-content-around{-ms-flex-pack:distribute!important;justify-content:space-around!important}
.d-flex{display:-ms-flexbox!important;display:flex!important}

.history-herbicat .tab-pane.fade.active.in, .tab-pane.fade.active {
    padding: 0px;
}

.history-herbicat .tab-pane.fade {
    padding-bottom: 1.5em !important;
    border-bottom: 2px solid #005f29;
}

/* SIDEBAR */

.sidebar .sidebar-list-item {
    padding: 5px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #666;
}

.sidebar-products li.sidebar-list-item:last-child() {
    border-bottom: 1px solid #666;
}

.sidebar-products .sidebar-list-item:hover {
    color: #005f29;
    transition: 0.1s ease;
}

ul.thumbnails {
    list-style: none;
}

.revendas {
    margin: 60px 0px;
}

#resseler-info h3, #resseler-info h3 > i {
    font-size: 16px;
    color: #1a5f30 !important;
    text-transform: uppercase;
    margin-top: 1em;
    font-weight: 600;
}

#resseler-info h3 > i{
    margin-right: .5em;
    font-size: 22px;

}

#resseler-info li {
   list-style: none;
   color: #666;
   font-weight: 400;
   margin: 0px;
   text-transform: uppercase;
}

#resseler-info li > a{
    text-transform: none;
    color: #666;
    font-weight: 600;
 }

 #resseler-info i{
    margin-right: .5em;
    color: #666;
    font-weight: 600;
 }

 .download-link {
     margin: 35px 0px;
 }

 .download-link h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

 .download-link button {
    border-radius: 0px;
    padding: 10px 35px;
    text-transform: uppercase;
}


.best-products {
    margin-bottom: 25px;
}

.only-for {
    font-size: 1em;
    margin-top: 15px;
    color: #005f29;
}

.best-products img{
    margin-bottom: 35px;
}

.best-products .product-name a{
    color: #666;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.2em
}

.best-products a {
    text-decoration: none;
}

.best-products .price a{
    font-size: 2.0em;
    color: #005f29;
    font-weight: 700;
}

.relacted-products {
    margin-bottom: 65px;
}

.relacted-wrapper h3 {
    margin: 0px;
    font-size: 18px;    
    font-weight: bold;
    color: #195f2f;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.price {
    margin-top: 5px;
}

.price sup {
    margin-right: .5em;
    font-size: 14px;
}

.best_product_wrapper {
    height: 280px;
}

.best-products hr {
    color: #005f29;
    border-bottom: 2px solid;
}

.actionButton {
    display: block;
    padding: 10px;
    background-color: #005f29;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
}

.actionButton:hover {
    color: #005f29;
    background-color: #a5cb02;
}

.actionButton i {
    margin-right: 10px;
}

/* .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 1px solid #ddd !important;
    border-bottom: none !important;
} */

.product-tabs>li.active>a {
    border: 1px solid #ddd !important;
    border-bottom: none !important;
}

.info-wrapper {
    height: 100px;
    margin: 20px 0px;
}