body {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    height:100%;
}
html,body.container{
    height: 100%;
}

.social-media ul li {
    margin-bottom: 15px;
}

.social-media ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444;
}


/* default font size */

.fa {
    font-size: 14px;
}


/* Override the bootstrap defaults */

h1 {
    font-size: 33px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 15px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10.2px;
}

a {
    color: #23a1d1;
}

a:hover,
a:focus {
    text-decoration: none;
}

legend {
    font-size: 18px;
    padding: 7px 0px
}

label {
    font-size: 12px;
    font-weight: normal;
}

.font-white {
    color: #FFF;
}

.font-yellow {
    color: #b6c931;
}
.font-green {
    color: #225f27 !important;
}


/*
* Header
*/

.top-menu ul li {
    display: inline-block;
    text-align: right;
    border-left: 1px solid #225f27;
    color: #225f27;
    font-size: 14px;
    font-weight: bold;
}

.top-menu ul li:first-child {
    border-left: none;
}

.top-menu ul {
    text-align: right;
}

.top-menu ul li a {
    color: #225f27;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
}

.top-menu {
    padding: 10px 25px 10px 10px;
}

.top-menu.floating {
    padding: 0px 185px 10px 0px;
}

.main-menu.home {
    position: absolute;
    width: 100%;
    z-index: 9;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0.9)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    padding-bottom: 80px;
}

.main-menu-wrapper {
    display: table;
    width: 100%;
}

.main-menu-flex {
    display: table-cell;
    vertical-align: bottom;
}

.main-menu-flex .navbar {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
    margin-bottom: 0px;
}

.collapse.navbar-collapse.navbar-ex1-collapse ul li a {
    background: #b6c931;
    color: #FFFFFF;
    white-space: nowrap;
    text-transform: uppercase;
}

.collapse.navbar-collapse.navbar-ex1-collapse ul li a:hover {
    background: #225f27;
    color: #FFF;
}

.dropdown-menu {
    background: #225f27;
    margin-top: 0px !important;
}

.dropdown-menu .dropdown-inner ul li a {
    display: block;
    float: none;
    width: 100%;
    background: transparent !important;
    color: #FFF !important;
}

.dropdown-menu .dropdown-inner ul li {
    width: 100%;
    display: block !important;
    background: transparent;
}

.dropdown-menu .dropdown-inner ul.list-unstyled li a {
    display: block;
    padding: 10px 10px;
    text-transform: none;
}

.dropdown-inner ul.list-unstyled {
    display: block !important;
    width: 100%;
}

.dropdown-menu .dropdown-inner ul.list-unstyled li a:hover {
    color: #b6c931 !important;
}

li.btn-app-parent {
    margin-left: 10px;
}

li.btn-app-parent a.btn-app {
    margin-left: 10px;
    color: #b6c931 !important;
    background: #225f27 !important;
}

div#logo {
    float: left;
    margin-right: 50px;
    max-width: 250px;
}

.social-media {
    z-index: 99;
    position: fixed;
    top: 175px;
    background: rgba(165, 203, 2, 0.90);
    padding: 15px 7px;
    right: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 30px;
    margin-right: 10px;
}
.social-media ul {
    margin: 0px;
    padding: 1px;
}

.social-media ul li:last-child {
    margin-bottom: 0px;
}

/*Home*/

.banner_1 {
    height: 1080px;
    width: 100%;
    background-size: cover;
    position: relative;
}

.banner_1.info {
    background: url('../image/faixa_banner.png') no-repeat;
    width: 815px;
    height: 318px;
    position: absolute;
    right: 0;
    top: 450px;
}

.banner_1.info p {
    font-size: 41px;
    line-height: normal;
    margin: 0 auto;
    margin-left: 120px;
    margin-top: 101px;
    color: #225f28;
}

.banner_2 {
    background: url('../image/banner_2.jpg') no-repeat center;
    height: 920px;
    width: 100%;
    background-size: cover;
    position: relative;
}

.banner_2.info {
    position: absolute;
    width: 1000px;
    height: 300px;
    background: none;
    margin: 0 auto;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -500px;
    text-align: center;
}

.banner_2.info h2 {
    margin: 0px;
    font-size: 80px;
    color: #FFFFFF;
}

.banner_2.info h5 {
    margin-top: 50px;
    font-size: 30px;
    color: #FFFFFF;
}


/*
*Feiras e eventos
*/

.news h1.title {
    text-align: center;
    margin-bottom: 40px;
    color: #1a5f30;
}

.news {
    padding: 60px 0px;
}

.news a {
    color: #1a5f30;
}

.news a:hover {
    text-decoration: none;
}

span.news-title {
    display: block;
    text-align: right;
    padding: 10px 0px;
    font-size: 18px;
}

span.news-excerpt {
    color: #333;
    display: block;
    text-align: justify;
    padding: 10px 0px;
    font-size: 14px;
}


/*
*Custom Bootstrap
*/

.contact_form {
    background: url(../image/background_contact_form.jpg) no-repeat center top;
    padding: 50px 0px;
}

form#contact_form input,
form#contact_form textarea {
    border-radius: 0 !important;
    border: 1px solid #1a5f30;
    background: transparent;
}

form#contact_form input:focus,
form#contact_form textarea:focus {
    outline: none !important;
}

.btn.btn-primary.herbicat {
    background: #1a5f30 !important;
    color: #a5cb02;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 40px;
    letter-spacing: 2px;
    border-radius: 0px;
}

h2.contact-title {
    color: #1a5f30;
    font-weight: bold;
}

span.contact-title {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    color: #1a5f30;
}

span.contact-info {
    display: block;
    color: #1a5f30;
    font-size: 13px;
}

form#contact_form input::-webkit-input-placeholder,
form#contact_form textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #1a5f30;
}

form#contact_form input::-moz-placeholder,
form#contact_form textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #1a5f30;
}

form#contact_form input:-ms-input-placeholder,
form#contact_form textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #1a5f30;
}

form#contact_form input:-moz-placeholder,
form#contact_form textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #1a5f30;
}

.pulse {
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
    animation: pulse 2s infinite;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    margin-left: -25px;
    bottom: 96px;
    border-radius: 31%;
}
div#content {
    margin-bottom: 100px;
}
.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #005f29;
    border-radius: 4px;
}

.breadcrumb>li a {
    color: #FFF;
}

div#product-product {
    margin-top: 50px;
}

ul.thumbnails {
    text-align: center;
}

ul.thumbnails li.image-additional {
    display: inline-block;
}

a.custom-btn-white {
    padding: 8px 15px;
    border: 1px solid;
    color: #FFF;
    margin-top: 10px;
    float: right;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.footer-informations {
    text-align: center;
    background: #005f29;
    padding: 36px 0px 0px;
}

.copyright {
    background: #a5cb02;
    padding: 5px;
    font-size: 14px;
    margin-top: 50px;
    color: #FFF;
    overflow: hidden;
}

.copyright a {
    color: #FFF;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 20px;
}

.tab-content {
    margin-bottom: 50px;
}

.tab-content>.active {
    display: block;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 16px;
    line-height: 1.5em;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-size: 20px;
}

.nav-tabs>li a {
    font-size: 20px;
    color: #666;
}

div#information-information h1 {
    border-bottom: 2px solid #225f2a;
    padding-bottom: 10px;
    margin-top: 50px;
    width: 18%;
    margin-bottom: 30px;
}


/*Company*/
section#information-top {
    background: url(../image/banner_interno.jpg) no-repeat;
    width: 100%;
    margin-top: -240px;
    background-size: cover;
    padding-bottom: 80px;
}

.information-content.company {
    background: rgb(0, 95, 41);
    background: linear-gradient(90deg, rgba(0, 95, 41, 0.9) 39%, rgba(165, 203, 2, 1) 100%);
    overflow: hidden;
    margin-top: 260px;
}

.information-text {
    padding: 20px;
    font-size: 16px;
}

.information-image {
    padding: 35px;
}



/*Industria*/
section#industry-top {
    background: url(../image/banner_interno.jpg) no-repeat center;
    width: 100%;
    margin-top: -225px;
    overflow: hidden;
    background-size: cover;
    padding-bottom: 150px;
}

.industry-content.company {
    background: rgba(165, 203, 2, 0.90);
    overflow: hidden;
    margin-top: 300px;
    height: 100%;
    display: table;
}
.industry-content.company .no-float {
    float: none;
    vertical-align: middle;
    display: table-cell;
}
.industry-title-background{
    background: url(../image/img_industria.jpg) no-repeat center;
    display: table-row;
    height: 100%;
}
.industry-title{
    padding: 20px;
}
.industry-title h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}
.industry-image {
    padding: 35px;
}
.industry-description {
    padding: 60px 30px;
    font-size: 16px;
    text-align: justify;
}

.industry-description p {
    line-height: 1.4em;
}

/*Distribuicao*/
section#distribuicao-top {
    background: url(../image/banner_distribuicao.jpg) no-repeat center;
    width: 100%;
    margin-top: -225px;
    overflow: hidden;
    background-size: cover;
    padding-bottom: 150px;
}

.distribuicao-content.company {
    background: rgba(165, 203, 2, 0.90);
    overflow: hidden;
    margin-top: 300px;
    height: 100%;
    display: table;
}
.distribuicao-content.company .no-float {
    float: none;
    vertical-align: middle;
    display: table-cell;
}
.distribuicao-title-background{
    background: url(../image/img_industria.jpg) no-repeat center;
    display: table-row;
    height: 100%;
}
.distribuicao-title{
    padding: 20px;
}
.distribuicao-title h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}
.distribuicao-image {
    padding: 35px;
}
.distribuicao-description {
    padding: 60px 30px;
    font-size: 16px;
    text-align: justify;
}

.distribuicao-description p {
    line-height: 1.4em;
}



/*Assistencia*/
section#assistencia-top {
    background: url(../image/banner_interno.jpg) no-repeat center;
    width: 100%;
    margin-top: -220px;
    overflow: hidden;
    background-size: cover;
    padding-bottom: 150px;
}

.assistencia-content.company {
    background: rgba(165, 203, 2, 0.90);
    overflow: hidden;
    margin-top: 300px;
    height: 100%;
    display: table;
}
.assistencia-content.company .no-float {
    float: none;
    vertical-align: middle;
    display: table-cell;
}
.assistencia-title-background{
    background: url(../image/img_industria.jpg) no-repeat center;
    display: table-row;
    height: 100%;
}
.assistencia-title{
    padding: 20px;
}
.assistencia-title h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}
.assistencia-image {
    padding: 35px;
}
.assistencia-description {
    padding: 60px 30px;
    font-size: 16px;
    text-align: justify;
}

.assistencia-description p {
    line-height: 1.4em;
}


.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}