<footer>

    <div class="footer-informations">
       <div class="container">
           <div class="row">
               <div class="col-md-3 col-12">
                    <a href="{{ home }}"><img class="img-footer" src="catalog/view/theme/herbicat/image/logo.png"/></a>
               </div>
               <div class="col-md-3 col-12">
                    <div class="contact_infos">
                       <ul class="list-unstyled contact-items">
                           <li><span>Telefone: </span><a href="tel:+551735249797">(17) 3524-9797</a></li>
                           <li><span>E-mail: </span><a href="mailto:contato@herbicat.com.br">contato@herbicat.com.br</a></li>
                           <li>De Segunda à Sexta-feira,<br>das 07h30 às 17h48</li>
                       </ul>
                    </div>
               </div>
               <div class="col-md-6 col-12">
                    <div class="contact_infos">
                        <h4>FORMAS DE PAGAMENTO:</h4>
                        <div class="row">
                            <img class="pagseguro" src="catalog/view/theme/herbicat/image/pag-seguro.png"/>
                            <img src="catalog/view/theme/herbicat/image/forma-pagto-cartoes.png"/>
                        </div>
                        <h4>Temos preços e condições especiais para revendas. <a href="?route=custompages/contact">Consulte-nos.</a></h4>
                    </div>
               </div>
           </div>
       </div>
        
        <section class="social-icons-mobile">
            <div class="container-fluid">
                <div class="row text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#"><img src="catalog/view/theme/herbicat/image/icn_whatsapp.png" alt="WhatsApp" class="img-responsive"></a></li>
                        <li class="list-inline-item"><a href="#"><img src="catalog/view/theme/herbicat/image/icn_facebook.png" alt="Facebook" class="img-responsive"></a></li>
                        <li class="list-inline-item"><a href="#"><img src="catalog/view/theme/herbicat/image/icn_instagram.png" alt="Instagram" class="img-responsive"></a></li>
                        <li class="list-inline-item"><a href="#"><img src="catalog/view/theme/herbicat/image/icn_youtube.png" alt="YouTube" class="img-responsive"></a></li>
                        <li class="list-inline-item"><a href="#"><img src="catalog/view/theme/herbicat/image/linkedin_ico.png" alt="YouTube" class="img-responsive"></a></li>
                    </ul>
                </div>
            </div>
        </section>


        
        <div class="copyright text-center">
            <div class="col-sm-6 block font-green">
                Herbicat &copy; 2019 - Todos os direitos reservados
            </div>
            <div class="col-sm-6 block ">
                <a href="http://agencialed.com.br" class="font-green" target="_BLANK">Desenvolvido por Led Digital</a>
            </div>
        </div>
    </div>
    {# <div class="container">
            <div class="row">
                {% if informations %}
                    <div class="col-sm-3">
                        <h5>{{ text_information }}</h5>
                        <ul class="list-unstyled">
                            {% for information in informations %}
                                <li>
                                    <a href="{{ information.href }}">{{ information.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="col-sm-3">
                    <h5>{{ text_service }}</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ contact }}">{{ text_contact }}</a>
                        </li>
                        <li>
                            <a href="{{ return }}">{{ text_return }}</a>
                        </li>
                        <li>
                            <a href="{{ sitemap }}">{{ text_sitemap }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>{{ text_extra }}</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ manufacturer }}">{{ text_manufacturer }}</a>
                        </li>
                        <li>
                            <a href="{{ voucher }}">{{ text_voucher }}</a>
                        </li>
                        <li>
                            <a href="{{ affiliate }}">{{ text_affiliate }}</a>
                        </li>
                        <li>
                            <a href="{{ special }}">{{ text_special }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>{{ text_account }}</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ account }}">{{ text_account }}</a>
                        </li>
                        <li>
                            <a href="{{ order }}">{{ text_order }}</a>
                        </li>
                        <li>
                            <a href="{{ wishlist }}">{{ text_wishlist }}</a>
                        </li>
                        <li>
                            <a href="{{ newsletter }}">{{ text_newsletter }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <p>{{ powered }}</p>
        </div> #}
</footer>
{% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"/>
{% endfor %}
</body></html>
